dist: bionic
language: python

sudo: required

services:
  - docker

python:
  - 3.7

env:
  - DJANGO=2.2.2

install:
  - pip3 install -r backend/Techfesia2019/requirements.txt
  - pip3 install coveralls

before_script:
  - cd backend/Techfesia2019
  - python manage.py check
  - python manage.py makemigrations
  - python manage.py migrate

script:
  - coverage run --source=base,registration,events,accounts,event_registrations,tickets,blog,etc,management manage.py test tickets/tests

after_success:
  - coveralls  

notifications:
  slack: techfesia2019:YZ90YqA3pTiAXto1lMilau0S
