<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callback</title>
</head>
<body>
    Callback Messsage
    <br>
    <h2> Checksum Verification: {{ message }} </h2>
    <br>
    MID: {{ MID }}
    <br>
    TXNID: {{ TXNID }}
    <br>
    ORDERID: {{ ORDERID }}
    <br>
    BANKTXNID: {{ BANKTXNID }}
    <br>
    TXNAMOUNT: {{ TXNAMOUNT }}
    <br>
    CURRENCY: {{ CURRENCY }}
    <br>
    <h2> STATUS: {{ STATUS }} </h2>
    <br>
    RESPCODE: {{ RESPCODE }}
    <br>
    RESPMSG: {{ RESPMSG }}
    <br>
    TXNDATE: {{ TXNDATE }}
    <br>
    GATEWAYNAME: {{ GATEWAYNAME }}
    <br>
    BANKNAME: {{ BANKNAME }}
    <br>
    PAYMENTMODE: {{ PAYMENTMODE }}
    <br>
    CHECKSUMHASH: {{ CHECKSUMHASH }}
</body>
</html>
